In [1]:
## This data represents a record of the "Risk Based Inspections" in New York City
## This algorithim determines a building's risk of fire and proactively initiates inspections
## by the FDNY

## data set from nyc open data

import pandas as pd

In [2]:
rbis_df = pd.read_csv("data/rbis_data.csv")

In [3]:
rbis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188889 entries, 0 to 188888
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   INSPTN_OPS_DETAIL     188889 non-null  int64
 1   INSPTN_TYP_CD         188889 non-null  object
 2   INSP_INSPECT_DT       188889 non-null  object
 3   INSPECTING_UNIT_CODE  188889 non-null  object
 4   BLDG_CURRENT_BIN_FK   188889 non-null  int64
 5   BOROUGH               188889 non-null  object
 6   LATITUDE              181900 non-null  float64
 7   LONGITUDE             181900 non-null  float64
 8   COMMUNITYDISTRICT     181900 non-null  float64
 9   CITYCOUNCILDISTRICT   181900 non-null  float64
 10  BBL                   182154 non-null  float64
 11  Location 1            181900 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 17.3+ MB

In [4]:
rbis_df

,INSPTN_OPS_DETAIL,INSPTN_TYP_CD,INSP_INSPECT_DT,INSPECTING_UNIT_CODE,BLDG_CURRENT_BIN_FK,BOROUGH,LATITUDE,LONGITUDE,COMMUNITYDISTRICT,CITYCOUNCILDISTRICT,BBL,Location 1
0,9132047,RISK,08/14/2018,L115,4000431,QN,40.748422,-73.950426,402.0,26.0,4.000510e+09,"(40.748422, -73.950426)"
1,4555617,RISK,01/29/2016,L113,3115797,BK,40.656287,-73.959764,309.0,40.0,3.050480e+09,"(40.656287, -73.959764)"
2,2145393,RISK,05/21/2014,L087,5120386,SI,40.578294,-74.157794,502.0,51.0,5.024508e+09,"(40.578294, -74.157794)"
3,5047033,RISK,05/17/2016,E095,1065067,MN,40.868562,-73.924958,112.0,10.0,1.022480e+09,"(40.868562, -73.924958)"
4,8714291,RISK,06/01/2018,E228,3018012,BK,40.649863,-74.004148,307.0,38.0,3.009170e+09,"(40.649863, -74.004148)"
...,...,...,...,...,...,...,...,...,...,...,...,...
188884,8352589,RISK,03/30/2018,E251,4461146,QN,40.752172,-73.717018,413.0,23.0,4.084470e+09,"(40.752172, -73.717018)"
188885,2282839,RISK,06/27/2014,E265,4302052,QN,40.591876,-73.788262,414.0,31.0,4.159260e+09,"(40.591876, -73.788262)"
188886,6416952,RISK,03/07/2017,E153,5014391,SI,40.622728,-74.083231,501.0,49.0,5.005630e+09,"(40.622728, -74.083231)"
188887,3314845,RISK,03/16/2015,L104,3063494,BK,40.708771,-73.956082,301.0,34.0,3.024490e+09,"(40.708771, -73.956082)"
188888,3624276,RISK,06/02/2015,L026,1052942,MN,40.796144,-73.936474,111.0,8.0,1.016870e+09,"(40.796144, -73.936474)"