In [59]:
## This data represents a record of the "Risk Based Inspections" in New York City
## This algorithim determines a building's risk of fire and proactively initiates inspections
## by the FDNY

## data set from nyc open data

import pandas as pd

In [60]:
rbis_df = pd.read_csv("data/rbis_data.csv")

In [61]:
rbis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188889 entries, 0 to 188888
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   INSPTN_OPS_DETAIL     188889 non-null  int64
 1   INSPTN_TYP_CD         188889 non-null  object
 2   INSP_INSPECT_DT       188889 non-null  object
 3   INSPECTING_UNIT_CODE  188889 non-null  object
 4   BLDG_CURRENT_BIN_FK   188889 non-null  int64
 5   BOROUGH               188889 non-null  object
 6   LATITUDE              181900 non-null  float64
 7   LONGITUDE             181900 non-null  float64
 8   COMMUNITYDISTRICT     181900 non-null  float64
 9   CITYCOUNCILDISTRICT   181900 non-null  float64
 10  BBL                   182154 non-null  float64
 11  Location 1            181900 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 17.3+ MB

In [62]:
rbis_df

,INSPTN_OPS_DETAIL,INSPTN_TYP_CD,INSP_INSPECT_DT,INSPECTING_UNIT_CODE,BLDG_CURRENT_BIN_FK,BOROUGH,LATITUDE,LONGITUDE,COMMUNITYDISTRICT,CITYCOUNCILDISTRICT,BBL,Location 1
0,9132047,RISK,08/14/2018,L115,4000431,QN,40.748422,-73.950426,402.0,26.0,4.000510e+09,"(40.748422, -73.950426)"
1,4555617,RISK,01/29/2016,L113,3115797,BK,40.656287,-73.959764,309.0,40.0,3.050480e+09,"(40.656287, -73.959764)"
2,2145393,RISK,05/21/2014,L087,5120386,SI,40.578294,-74.157794,502.0,51.0,5.024508e+09,"(40.578294, -74.157794)"
3,5047033,RISK,05/17/2016,E095,1065067,MN,40.868562,-73.924958,112.0,10.0,1.022480e+09,"(40.868562, -73.924958)"
4,8714291,RISK,06/01/2018,E228,3018012,BK,40.649863,-74.004148,307.0,38.0,3.009170e+09,"(40.649863, -74.004148)"
...,...,...,...,...,...,...,...,...,...,...,...,...
188884,8352589,RISK,03/30/2018,E251,4461146,QN,40.752172,-73.717018,413.0,23.0,4.084470e+09,"(40.752172, -73.717018)"
188885,2282839,RISK,06/27/2014,E265,4302052,QN,40.591876,-73.788262,414.0,31.0,4.159260e+09,"(40.591876, -73.788262)"
188886,6416952,RISK,03/07/2017,E153,5014391,SI,40.622728,-74.083231,501.0,49.0,5.005630e+09,"(40.622728, -74.083231)"
188887,3314845,RISK,03/16/2015,L104,3063494,BK,40.708771,-73.956082,301.0,34.0,3.024490e+09,"(40.708771, -73.956082)"
188888,3624276,RISK,06/02/2015,L026,1052942,MN,40.796144,-73.936474,111.0,8.0,1.016870e+09,"(40.796144, -73.936474)"

In [63]:
rbis_df.shape

(188889, 12)

In [64]:
## changing column names to be more clear and lowercase

rbis_df.rename(columns = {"INSPTN_OPS_DETAIL": "inspection_id", 
                          "INSPTN_TYP_CD" : "inspection_type", 
                          "INSP_INSPECT_DT" : "inspection_date",
                         "INSPECTING_UNIT_CODE" : "inspecting_unit",
                         "BLDG_CURRENT_BIN_FK" : "building_id",
                         "BOROUGH" : "borough",
                         "LATITUDE" : "latitude",
                         "LONGITUDE" : "longitude",
                         "COMMUNITYDISTRICT" : "community_district",
                         "CITYCOUNCILDISTRICT" : "council_district",
                         "BBL" : "bbl",
                         "Location 1" : "location"}, inplace = True)

In [65]:
rbis_df.sample(15)

,inspection_id,inspection_type,inspection_date,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location
43095,9605171,RISK,11/01/2018,E293,4181083,QN,40.692697,-73.863857,409.0,30.0,4.088420e+09,"(40.692697, -73.863857)"
88747,3758947,RISK,07/08/2015,L120,3083401,BK,40.673112,-73.907395,316.0,37.0,3.036750e+09,"(40.673112, -73.907395)"
23839,8772213,RISK,06/12/2018,E249,3422065,BK,40.661092,-73.938546,309.0,41.0,3.048000e+09,"(40.661092, -73.938546)"
69664,3526431,RISK,05/06/2015,L032,2053725,BX,40.867131,-73.863756,211.0,13.0,2.045120e+09,"(40.867131, -73.863756)"
180368,7036365,RISK,07/06/2017,E202,3255646,BK,40.685671,-74.004035,306.0,39.0,3.003290e+09,"(40.685671, -74.004035)"
12861,6240243,RISK,02/01/2017,L053,2082789,BX,40.851883,-73.788649,210.0,13.0,2.056460e+09,"(40.851883, -73.788649)"
57221,2184380,RISK,06/02/2014,L140,4082321,QN,40.699877,-73.911094,405.0,34.0,4.034440e+09,"(40.699877, -73.911094)"
187790,7075615,RISK,07/14/2017,L086,5039672,SI,40.588416,-74.166023,502.0,51.0,5.023801e+09,"(40.588416, -74.166023)"
188647,7593834,RISK,11/02/2017,E301,4224137,QN,40.721717,-73.772903,408.0,23.0,4.105210e+09,"(40.721717, -73.772903)"
138220,2767078,RISK,10/31/2014,E324,4537843,QN,40.736857,-73.858718,404.0,21.0,4.019470e+09,"(40.736857, -73.858718)"
186556,7459923,RISK,10/04/2017,L131,3005650,BK,40.676282,-73.999831,306.0,39.0,3.003790e+09,"(40.676282, -73.999831)"
133474,7331754,RISK,09/06/2017,L080,5135924,SI,40.627652,-74.157161,501.0,49.0,5.012238e+09,"(40.627652, -74.157161)"
100502,8286276,RISK,03/19/2018,L022,1057095,MN,40.798115,-73.972634,107.0,6.0,1.018888e+09,"(40.798115, -73.972634)"
174196,6360166,RISK,02/24/2017,E067,1063397,MN,40.842502,-73.940753,112.0,10.0,1.021380e+09,"(40.842502, -73.940753)"
56243,10011969,RISK,01/09/2019,E306,4616932,QN,40.787399,-73.781537,407.0,19.0,4.058570e+09,"(40.787399, -73.781537)"

In [66]:
## BOOM
## I'm less interested in reordering at this point because I'm not sure what the 
## posibilities of the rest of the data are.

In [67]:
## lets check for duplicates
rbis_df[rbis_df.duplicated()]

Empty DataFrame
Columns: [inspection_id, inspection_type, inspection_date, inspecting_unit, building_id, borough, latitude, longitude, community_district, council_district, bbl, location]
Index: []

In [68]:
## great, looks like there's no duplicates? 
## what about missing values?

In [69]:
rbis_df.isna().any()

inspection_id         False
inspection_type       False
inspection_date       False
inspecting_unit       False
building_id           False
borough               False
latitude               True
longitude              True
community_district     True
council_district       True
bbl                    True
location               True
dtype: bool

In [70]:
rbis_df[rbis_df["community_district"].isna()]

,inspection_id,inspection_type,inspection_date,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location
24,8901709,RISK,07/05/2018,E239,3413512,BK,NaN,NaN,NaN,NaN,NaN,NaN
25,9595611,RISK,10/31/2018,E168,5159017,SI,NaN,NaN,NaN,NaN,NaN,NaN
26,5398096,RISK,08/03/2016,L058,2097278,BX,NaN,NaN,NaN,NaN,NaN,NaN
27,8700178,RISK,05/31/2018,E070,2128029,BX,NaN,NaN,NaN,NaN,NaN,NaN
28,2792626,RISK,11/01/2014,E065,1015998,MN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
188611,3543494,RISK,05/11/2015,L079,5005104,SI,NaN,NaN,NaN,NaN,NaN,NaN
188643,9956244,RISK,12/31/2018,E165,5171363,SI,NaN,NaN,NaN,NaN,NaN,NaN
188721,8679451,RISK,05/24/2018,B017,4610440,QN,NaN,NaN,NaN,NaN,NaN,NaN
188783,4197061,RISK,11/05/2015,E168,5117667,SI,NaN,NaN,NaN,NaN,5.070558e+09,NaN
188848,3820156,RISK,07/27/2015,E034,1012463,MN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
## Thats quite a lot of missing data. It looks like for now we wont be able to
## analyze further than the borough level.
## It's possible that the building id number is somehow attached to the building's address
## we could use that to fill in the rest of the data later.

In [72]:
## Do we even need the inspection_type column? 
## I doubt it, let's check.

In [73]:
rbis_df["inspection_type"].unique()

array(['RISK'], dtype=object)

In [74]:
## cool, there's only one inspection type, so I feel like this is an unnecessary column.
## Lets drop it

In [75]:
rbis_df = rbis_df[["inspection_id",
                 "inspection_date",
                  "inspecting_unit",
                  "building_id",
                  "borough", 
                  "latitude",
                  "longitude",
                  "community_district",
                  "council_district",
                  "bbl",
                  "location"]]

In [76]:
rbis_df

,inspection_id,inspection_date,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location
0,9132047,08/14/2018,L115,4000431,QN,40.748422,-73.950426,402.0,26.0,4.000510e+09,"(40.748422, -73.950426)"
1,4555617,01/29/2016,L113,3115797,BK,40.656287,-73.959764,309.0,40.0,3.050480e+09,"(40.656287, -73.959764)"
2,2145393,05/21/2014,L087,5120386,SI,40.578294,-74.157794,502.0,51.0,5.024508e+09,"(40.578294, -74.157794)"
3,5047033,05/17/2016,E095,1065067,MN,40.868562,-73.924958,112.0,10.0,1.022480e+09,"(40.868562, -73.924958)"
4,8714291,06/01/2018,E228,3018012,BK,40.649863,-74.004148,307.0,38.0,3.009170e+09,"(40.649863, -74.004148)"
...,...,...,...,...,...,...,...,...,...,...,...
188884,8352589,03/30/2018,E251,4461146,QN,40.752172,-73.717018,413.0,23.0,4.084470e+09,"(40.752172, -73.717018)"
188885,2282839,06/27/2014,E265,4302052,QN,40.591876,-73.788262,414.0,31.0,4.159260e+09,"(40.591876, -73.788262)"
188886,6416952,03/07/2017,E153,5014391,SI,40.622728,-74.083231,501.0,49.0,5.005630e+09,"(40.622728, -74.083231)"
188887,3314845,03/16/2015,L104,3063494,BK,40.708771,-73.956082,301.0,34.0,3.024490e+09,"(40.708771, -73.956082)"
188888,3624276,06/02/2015,L026,1052942,MN,40.796144,-73.936474,111.0,8.0,1.016870e+09,"(40.796144, -73.936474)"

In [77]:
## data dictionary is unclear about what the inspecting unit is, but I think it may help identify
## who inspected what building, and that may be useful down the line.

In [78]:
## checking for weird spellings or inconsistent styles

In [79]:
rbis_df["borough"].unique()

array(['QN', 'BK', 'SI', 'MN', 'BX'], dtype=object)

In [80]:
## cool all the spellings are accurate and consistent

In [81]:
## This is about as clean and organized as it's going to get at the moment. 
## need to look for other data sets that may list building id number and address to fill in the gaps.

In [82]:
## This data is from 2014 to 2019, so it only makes sense to compare the number of fires from those years.

In [83]:
## Hold on now, I'm going to try something I saw on the internet!
## splitting the date column to month, day, year to make filtering a bit easier.

In [96]:
rbis_df[["inspection_month", "inspection_day", "inspection_year"]] = rbis_df["inspection_date"].str.split("/", expand = True,)

In [97]:
rbis_df

,inspection_id,inspection_date,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location,month,day,year,inspection_month,inspection_day,inspection_year
0,9132047,08/14/2018,L115,4000431,QN,40.748422,-73.950426,402.0,26.0,4.000510e+09,"(40.748422, -73.950426)",08,14,2018,08,14,2018
1,4555617,01/29/2016,L113,3115797,BK,40.656287,-73.959764,309.0,40.0,3.050480e+09,"(40.656287, -73.959764)",01,29,2016,01,29,2016
2,2145393,05/21/2014,L087,5120386,SI,40.578294,-74.157794,502.0,51.0,5.024508e+09,"(40.578294, -74.157794)",05,21,2014,05,21,2014
3,5047033,05/17/2016,E095,1065067,MN,40.868562,-73.924958,112.0,10.0,1.022480e+09,"(40.868562, -73.924958)",05,17,2016,05,17,2016
4,8714291,06/01/2018,E228,3018012,BK,40.649863,-74.004148,307.0,38.0,3.009170e+09,"(40.649863, -74.004148)",06,01,2018,06,01,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188884,8352589,03/30/2018,E251,4461146,QN,40.752172,-73.717018,413.0,23.0,4.084470e+09,"(40.752172, -73.717018)",03,30,2018,03,30,2018
188885,2282839,06/27/2014,E265,4302052,QN,40.591876,-73.788262,414.0,31.0,4.159260e+09,"(40.591876, -73.788262)",06,27,2014,06,27,2014
188886,6416952,03/07/2017,E153,5014391,SI,40.622728,-74.083231,501.0,49.0,5.005630e+09,"(40.622728, -74.083231)",03,07,2017,03,07,2017
188887,3314845,03/16/2015,L104,3063494,BK,40.708771,-73.956082,301.0,34.0,3.024490e+09,"(40.708771, -73.956082)",03,16,2015,03,16,2015
188888,3624276,06/02/2015,L026,1052942,MN,40.796144,-73.936474,111.0,8.0,1.016870e+09,"(40.796144, -73.936474)",06,02,2015,06,02,2015

In [98]:
rbis_df = rbis_df[["inspection_id",
                 "inspection_month",
                   "inspection_day",
                   "inspection_year",
                  "inspecting_unit",
                  "building_id",
                  "borough", 
                  "latitude",
                  "longitude",
                  "community_district",
                  "council_district",
                  "bbl",
                  "location"]]

In [99]:
rbis_df

,inspection_id,inspection_month,inspection_day,inspection_year,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location
0,9132047,08,14,2018,L115,4000431,QN,40.748422,-73.950426,402.0,26.0,4.000510e+09,"(40.748422, -73.950426)"
1,4555617,01,29,2016,L113,3115797,BK,40.656287,-73.959764,309.0,40.0,3.050480e+09,"(40.656287, -73.959764)"
2,2145393,05,21,2014,L087,5120386,SI,40.578294,-74.157794,502.0,51.0,5.024508e+09,"(40.578294, -74.157794)"
3,5047033,05,17,2016,E095,1065067,MN,40.868562,-73.924958,112.0,10.0,1.022480e+09,"(40.868562, -73.924958)"
4,8714291,06,01,2018,E228,3018012,BK,40.649863,-74.004148,307.0,38.0,3.009170e+09,"(40.649863, -74.004148)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188884,8352589,03,30,2018,E251,4461146,QN,40.752172,-73.717018,413.0,23.0,4.084470e+09,"(40.752172, -73.717018)"
188885,2282839,06,27,2014,E265,4302052,QN,40.591876,-73.788262,414.0,31.0,4.159260e+09,"(40.591876, -73.788262)"
188886,6416952,03,07,2017,E153,5014391,SI,40.622728,-74.083231,501.0,49.0,5.005630e+09,"(40.622728, -74.083231)"
188887,3314845,03,16,2015,L104,3063494,BK,40.708771,-73.956082,301.0,34.0,3.024490e+09,"(40.708771, -73.956082)"
188888,3624276,06,02,2015,L026,1052942,MN,40.796144,-73.936474,111.0,8.0,1.016870e+09,"(40.796144, -73.936474)"

In [ ]:
##Lets check the total number of inspections in each borough

In [101]:
rbis_df["borough"].value_counts()

BK    52112
QN    50877
MN    29545
SI    29399
BX    26956
Name: borough, dtype: int64

In [104]:
## Now lets check it by year
## create a seperate dataframe for each year

In [105]:
rbis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188889 entries, 0 to 188888
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   inspection_id       188889 non-null  int64
 1   inspection_month    188889 non-null  object
 2   inspection_day      188889 non-null  object
 3   inspection_year     188889 non-null  object
 4   inspecting_unit     188889 non-null  object
 5   building_id         188889 non-null  int64
 6   borough             188889 non-null  object
 7   latitude            181900 non-null  float64
 8   longitude           181900 non-null  float64
 9   community_district  181900 non-null  float64
 10  council_district    181900 non-null  float64
 11  bbl                 182154 non-null  float64
 12  location            181900 non-null  object
dtypes: float64(5), int64(2), object(6)
memory usage: 18.7+ MB

In [113]:
rbis14_df = rbis_df[rbis_df["inspection_year"] == "2014"]
rbis15_df = rbis_df[rbis_df["inspection_year"] == "2015"]
rbis16_df = rbis_df[rbis_df["inspection_year"] == "2016"]
rbis17_df = rbis_df[rbis_df["inspection_year"] == "2017"]
rbis18_df = rbis_df[rbis_df["inspection_year"] == "2018"]
rbis19_df = rbis_df[rbis_df["inspection_year"] == "2019"]

,inspection_id,inspection_month,inspection_day,inspection_year,inspecting_unit,building_id,borough,latitude,longitude,community_district,council_district,bbl,location
2,2145393,05,21,2014,L087,5120386,SI,40.578294,-74.157794,502.0,51.0,5.024508e+09,"(40.578294, -74.157794)"
6,2434293,08,03,2014,L011,1004922,MN,40.727376,-73.978663,103.0,2.0,1.003940e+09,"(40.727376, -73.978663)"
7,2007158,04,17,2014,L086,5151711,SI,40.600441,-74.162470,502.0,50.0,5.020300e+09,"(40.600441, -74.16247)"
12,2657500,09,28,2014,E231,3082086,BK,40.661336,-73.912810,316.0,42.0,3.035850e+09,"(40.661336, -73.91281)"
13,2696460,10,14,2014,L167,4157883,QN,40.752969,-73.778550,411.0,20.0,4.073530e+09,"(40.752969, -73.77855)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188850,2048903,04,28,2014,E325,4002473,QN,40.744181,-73.923900,402.0,26.0,4.001890e+09,"(40.744181, -73.9239)"
188861,2181560,06,02,2014,E246,3202966,BK,40.591885,-73.955788,315.0,48.0,3.074160e+09,"(40.591885, -73.955788)"
188864,2129720,05,11,2014,E089,2045972,BX,40.846782,-73.833198,210.0,13.0,2.041640e+09,"(40.846782, -73.833198)"
188874,2699720,10,15,2014,E309,3219293,BK,40.619708,-73.937219,318.0,45.0,3.078590e+09,"(40.619708, -73.937219)"
188885,2282839,06,27,2014,E265,4302052,QN,40.591876,-73.788262,414.0,31.0,4.159260e+09,"(40.591876, -73.788262)"

In [136]:
inspections_by_boro_14 = rbis14_df["borough"].value_counts()

In [137]:
inspections_by_boro_14

BK    12438
QN     8563
BX     7891
MN     7636
SI     4342
Name: borough, dtype: int64

In [135]:
inspections_by_boro_15 = rbis15_df["borough"].value_counts()

In [138]:
inspections_by_boro_15

QN    8541
BK    8461
MN    4901
SI    4751
BX    4444
Name: borough, dtype: int64

In [134]:
inspections_by_boro_16 = rbis16_df["borough"].value_counts()

In [139]:
inspections_by_boro_16

QN    9136
BK    9073
SI    6121
MN    5599
BX    4905
Name: borough, dtype: int64

In [133]:
inspections_by_boro_17 = rbis17_df["borough"].value_counts()

In [140]:
inspections_by_boro_17

QN    9914
BK    9654
SI    6676
MN    5769
BX    4795
Name: borough, dtype: int64

In [132]:
inspections_by_boro_18 = rbis18_df["borough"].value_counts()

In [141]:
inspections_by_boro_18

QN    13668
BK    11500
SI     7037
MN     5258
BX     4583
Name: borough, dtype: int64

In [130]:
inspections_by_boro_19 = rbis19_df["borough"].value_counts()

In [131]:
inspections_by_boro_19

QN    1055
BK     986
SI     472
MN     382
BX     338
Name: borough, dtype: int64

In [120]:
## Now that we know how many rbis inspections were conducted each year by borough, we need to normalize the data 
## Lets take census population data to calculate the inspections per capita. 
## This data spans a bunch of different years, so I'm not sure if I should calculate using just one census count,
## or split it between two.
## I Think I may use American Community Survey numbers because they give a yearly estimate, instead of 
## census numbers which will have a large gap for every ten years.

In [121]:
## Storing boro population counts by year into dictionaries.

In [122]:
boro_pop_14 = {"borough":["QN", "BK", "SI", "MN", "BX"],
               "pop_14": [2321580, 2621793, 473279, 1636268, 1438159]}

In [124]:
boro_pop_15 = {"borough":["QN", "BK", "SI", "MN", "BX"],
               "pop_15":[2339150, 2636735, 474558, 1644518, 1455444]}

In [125]:
boro_pop_16 = {"borough":["QN", "BK", "SI", "MN", "BX"],
               "pop_16": [2333054, 2629150, 476015, 1643734, 1455720]}

In [126]:
boro_pop_17 = {"borough":["QN", "BK", "SI", "MN", "BX"],
               "pop_17": [2358582, 2648771, 479458, 1664727, 1471160]}

In [127]:
boro_pop_18 = {"borough":["QN", "BK", "SI", "MN", "BX"],
               "pop_18": [2278906, 2582830, 476179, 1628701, 1432132]}

In [128]:
boro_pop_19 = {"borough":["QN", "BK", "SI", "MN", "BX"],
               "pop_19": [2405464, 2736074, 495747, 1694251, 1472654]}
## NYC data doesn't offer American Community Survey estimates of 2019 population by boro, so I used the 2020 census

In [129]:
## so now I'm supposed to calculate programmatically, but I'm not sureeeee how to do that with python :/

In [145]:
insbypops_hundredk = {} 

for boro in inspections_by_boro_14:
    ins_per_capita = ((float(inspections_by_boro_14[boro]))/(boro_pop_14[pop_14]) *100000)
    print(ins_per_capita)

IndexError: index 12438 is out of bounds for axis 0 with size 5

In [147]:
insbypops_hundredk = {}

for boro in inspections_by_boro_14:
    insbypops_hundredk[boro] = (inspections_by_boro_14[boro] / float(boro_pop_14[boro])) *100000

IndexError: index 12438 is out of bounds for axis 0 with size 5